@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.container-outer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  display: flex;
}

.container-inner {
  margin: auto;
  background-color: #0001;
  border: solid 1px #0002;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.clock-date {
  color: white;
  font-size: 32px;
  text-align: center;
}

.clock-time {
  color: white;
  font-size: 128px;
  text-align: center;
}

.clock-meta {
  color: white;
  font-size: 32px;
  text-align: center;
}

.gap {
  height: 1rem;
}

.progress {
  margin: auto;
  display: flex;
  gap: 1rem;
}

.progress-label {
  width: 4rem;
  font-size: 20px;
  text-align: left;
  color: white;
}

.progress-value {
  width: 4rem;
  font-size: 20px;
  text-align: right;
  color: white;
}

.progress-bar-outer {
  margin: auto;
  width: 200px;
  height: 12px;
  background-color: #FFF4;
  border-radius: 6px;
  box-shadow: 0 0 8px #0002
}

.progress-bar-inner {
  height: 100%;
  min-width: 12px;
  background-color: #FFF;
  border-radius: 6px;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: contain;
}
